/*? Anjoman */

@font-face {
  font-family: AnjomanMax;
  font-style: normal;
  font-weight: 100 300;
  src: url("assets/fonts/Anjoman/woff/AnjomanMax-Light.woff") format("woff"),
    url("assets/fonts/Anjoman/woff2/AnjomanMax-Light.woff2") format("woff2");
}
@font-face {
  font-family: AnjomanMax;
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Anjoman/woff/AnjomanMax-Regular.woff") format("woff"),
    url("assets/fonts/Anjoman/woff2/AnjomanMax-Regular.woff2") format("woff2");
}
@font-face {
  font-family: AnjomanMax;
  font-style: normal;
  font-weight: 500 900;
  src: url("assets/fonts/Anjoman/woff/AnjomanMax-Bold.woff") format("woff"),
    url("assets/fonts/Anjoman/woff2/AnjomanMax-Bold.woff2") format("woff2");
}


/* @font-face {
  font-family: AnjomanMax;
  font-style: normal;
  font-weight: 100;
  src: url("assets/fonts/Anjoman/woff/AnjomanMax-Thin.woff") format("woff"),
    url("assets/fonts/Anjoman/woff2/AnjomanMax-Thin.woff2") format("woff2");
}

@font-face {
  font-family: AnjomanMax;
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/Anjoman/woff/AnjomanMax-ExtraLight.woff")
      format("woff"),
    url("assets/fonts/Anjoman/woff2/AnjomanMax-ExtraLight.woff2")
      format("woff2");
}

@font-face {
  font-family: AnjomanMax;
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Anjoman/woff/AnjomanMax-Medium.woff") format("woff"),
    url("assets/fonts/Anjoman/woff2/AnjomanMax-Medium.woff2") format("woff2");
}

@font-face {
  font-family: AnjomanMax;
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/Anjoman/woff/AnjomanMax-SemiBold.woff") format("woff"),
    url("assets/fonts/Anjoman/woff2/AnjomanMax-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: AnjomanMax;
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/Anjoman/woff/AnjomanMax-ExtraBold.woff") format("woff"),
    url("assets/fonts/Anjoman/woff2/AnjomanMax-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: AnjomanMax;
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/Anjoman/woff/AnjomanMax-Black.woff") format("woff"),
    url("assets/fonts/Anjoman/woff2/AnjomanMax-Black.woff2") format("woff2");
} */

/*? Vazir */
@font-face {
  font-family: "Vazirmatn";
  src: url("assets/fonts/Vazir/Vazirmatn[wght].woff2")
      format("woff2 supports variations"),
    url("assets/fonts/Vazir/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/*? IranSans */

@font-face {
  font-family: "IranSans";
  src: url("./assets/fonts/IranSans/woff2/IRANSansWeb_UltraLight.woff2")
      format("woff2"),
    url("./assets/fonts/IranSans/woff/IRANSansWeb_UltraLight.woff")
      format("woff"),
    url("./assets/fonts/IranSans/ttf/IRANSansWeb_UltraLight.ttf")
      format("truetype"),
    url("./assets/fonts/IranSans/eot/IRANSansWeb_UltraLight.eot");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("./assets/fonts/IranSans/woff2/IRANSansWeb_Light.woff2")
      format("woff2"),
    url("./assets/fonts/IranSans/woff/IRANSansWeb_Light.woff") format("woff"),
    url("./assets/fonts/IranSans/ttf/IRANSansWeb_Light.ttf") format("truetype"),
    url("./assets/fonts/IranSans/eot/IRANSansWeb_Light.eot");
  font-weight: 200 300;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("./assets/fonts/IranSans/woff2/IRANSansWeb.woff2") format("woff2"),
    url("./assets/fonts/IranSans/woff/IRANSansWeb.woff") format("woff"),
    url("./assets/fonts/IranSans/ttf/IRANSansWeb.ttf") format("truetype"),
    url("./assets/fonts/IranSans/eot/IRANSansWeb.eot");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("./assets/fonts/IranSans/woff2/IRANSansWeb_Medium.woff2")
      format("woff2"),
    url("./assets/fonts/IranSans/woff/IRANSansWeb_Medium.woff") format("woff"),
    url("./assets/fonts/IranSans/ttf/IRANSansWeb_Medium.ttf") format("truetype"),
    url("./assets/fonts/IranSans/eot/IRANSansWeb_Medium.eot");
  font-weight: 500 600;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src: url("./assets/fonts/IranSans/woff2/IRANSansWeb_Bold.woff2")
      format("woff2"),
    url("./assets/fonts/IranSans/woff/IRANSansWeb_Bold.woff") format("woff"),
    url("./assets/fonts/IranSans/ttf/IRANSansWeb_Bold.ttf") format("truetype"),
    url("./assets/fonts/IranSans/eot/IRANSansWeb_Bold.eot");
  font-weight: 700 900;
  font-display: swap;
}

.gradborder {
  @apply border-b-8 border-solid;
  border-image-slice: 1;
  border-image-source: radial-gradient(
    circle at center,
    rgba(36, 36, 99, 100),
    rgba(24, 24, 66, 100),
    rgba(42, 48, 70, 0)
  );
}
